<div>
    <% if (show_signup) { %>
        <div id="signup-msg">
            <div class="signup-msg"> Welcome to the Spoonbank. In its most legitimate form yet! This is also more secure than some banking systems out there. That's a scary thought, right? </div>
            
            <div class="close-button">
                    <button onclick="$('#signup-msg').remove();" style="all:unset;cursor:pointer;"><i class="material-icons">cancel</i></button>
            </div>
        </div>
    <% } %>
    <h5> Your Details </h5>
    <div class="spoonbank-details">
        <div class="spoonbank-avatar">
            <img src=<%= user.avatar_url%>>
        </div>
        <div class="spoonbank-account">
            <div>
                Balance: <%= user_account.Balance %> spoons
            </div>
        </div>
    </div>
    <div id="actions-container">
        <div class="user-list-container">
            <h5> Send Spoons </h5>
            <ul class="spoonbank-user-list mdl-list">
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" id="search-box" onkeyup="search_step()">
                <label class="mdl-textfield__label" for="search-box">Search Users</label>
            </div>
            <% for (var i=0;i<user_list.length;i++) { %> 
                <% var user = user_list[i]; %>
                <li class="mdl-list__item spoonbank-user-item">
                    <span class="mdl-list__item-primary-content">
                        <img class="mdl-list__item-avatar" src= <%=user.avatarURL%> >
                        <%= user.username %>
                    </span>
                    <span class="mdl-list__item-secondary-action">
                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-1">
                            <input type="checkbox" id="list-checkbox-1" class="mdl-checkbox__input" checked />
                        </label>
                    </span>
                </li>
            <% } %>

            </ul>
        </div>
        <div class="transaction-history">
                <h5> Transaction History </h5>
                <ul class="spoonbank-user-list mdl-list">
                    
                    <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                            Spoons to Anton
                        </span>
                    </li>
    
                </ul>
            </div>
    </div>
            
</div>

<script>
    function search_step() {
        const items = document.getElementsByClassName("spoonbank-user-item");
        const input = document.getElementById('search-box').value.toUpperCase();
        for (const item of items) {
            const span = item.querySelector("li > span");
            if (span.innerText.toUpperCase().indexOf(input) > -1) {
                item.style.display = "";
            } else {
                item.style.display = "none";
            }
        }
    }

</script>