<div>
    <% if (show_signup) { %>
        <div id="signup-msg">
            <div class="signup-msg"> Welcome to the Spoonbank. In its most legitimate form yet! This is also more secure than some banking systems out there. That's a scary thought, right? </div>
            
            <div class="close-button">
                    <button onclick="$('#signup-msg').remove();" style="all:unset;cursor:pointer;"><i class="material-icons">cancel</i></button>
            </div>
        </div>
    <% } %>
    <h5> Your Details </h5>
    <div class="spoonbank-details">
        <div class="spoonbank-avatar">
            <img src=<%= user.avatar_url%>>
        </div>
        <div class="spoonbank-account">
            <div>
                Balance: <%= user_account.Balance %> spoons
            </div>
            <div>
                <a href=""> Transaction History</a>
            </div>
        </div>
    </div>
    <h5> People </h5>
    <ul class="spoonbank-user-list mdl-list">
        
    <% for (var i=0;i<user_list.length;i++) { %> 
        <% var user = user_list[i]; %>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <img class="mdl-list__item-avatar" src= <%=user.avatarURL%> >
                <%= user.username %>
            </span>
            <span class="mdl-list__item-secondary-action">
                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-1">
                    <input type="checkbox" id="list-checkbox-1" class="mdl-checkbox__input" checked />
                </label>
            </span>
        </li>
    <% } %>

    </ul>
            
</div>