<div>
    
    <!-- Accent-colored raised button with ripple -->
    <div>
        Click the button below to sign up for Sidorakh's Spoon Bank
    </div>
    <form method="post">
        <input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" value="Sign up">
    </form>
            
</div>