<div>
    <script>
        async function delete_chip(id) {
            $(`#chip-${id}`).remove();
            const res = await fetch(`/ss/keyword/delete/${id}`,{
                method:'delete',
            });
            console.log(res);

        }
        async function add_keyword(keyword) {
            const result = await fetch('/ss/keyword/add',{
                headers:{
                    'Content-Type':'application/json'
                },
                body:JSON.stringify({
                    keyword:keyword
                }),
                method:'post'
            });

            
            const body = JSON.parse(await result.text());
            console.log(body);
            if (body.status != "success") return;
            const container = document.createElement("p");
            container.id = `chip-${body.id}`;
            
            const chip = document.createElement("span");
            chip.classList = "mdl-chip mdl-chip--deletable";
            
            const chip_text = document.createElement("span");
            chip_text.innerText = body.term;
            chip_text.classList = "mdl-chip__text";
            
            const chip_btn = document.createElement("button");
            chip_btn.classList = "mdl-chip__action";
            chip_btn.onclick = ()=>{delete_chip(body.id)}
            
            const chip_icon = document.createElement("i");
            chip_icon.classList = "material-icons";
            chip_icon.innerText = "cancel";
            
            chip_btn.appendChild(chip_icon);
            chip.appendChild(chip_text);
            chip.appendChild(chip_btn);
            container.appendChild(chip);
            $('#chip-container').append(container);
        }
    </script>
    <!-- Assume user is logged in -->
    <h4> Shallow's Services: Keywords </h4>
    <h5> Add a new term </h5>
    <div>       <!-- Form.. but not really.. async to stay on the page :awesome: -->
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="keyword">
            <label class="mdl-textfield__label" for="keyword">Term</label>
        </div>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" onclick="add_keyword($('#keyword').val())">
            Submit
        </button>
    </div>
    <div id="chip-container">
    <% for(var i=0;i<terms.length;i++) { %>
        <p id="chip-<%-terms[i].TermID%>">
            <span class="mdl-chip mdl-chip--deletable">
                <span class="mdl-chip__text"> <%= terms[i].Term %></span>
                <button type="button" class="mdl-chip__action" onclick=<%- `delete_chip(${terms[i].TermID});` %> ><i class="material-icons">cancel</i></button>
            </span>
        </p>
    <% } %>
    </div>

</div>